/*
   ANIMATION ITERATION COUNT
*/

  .a-cnt0    { animation-iteration-count: 0; }
  .a-cnt1    { animation-iteration-count: 1; }
  .a-cnt2    { animation-iteration-count: 2; }
  .a-cnt3    { animation-iteration-count: 4; }
  .a-cnt3    { animation-iteration-count: 5; }
  .a-cnt4    { animation-iteration-count: 10; }
  .a-cnt-inf { animation-iteration-count: infinite; }

@media screen and (min-width: 32em) {
  .a-cnt0-s    { animation-iteration-count: 0; }
  .a-cnt1-s    { animation-iteration-count: 1; }
  .a-cnt2-s    { animation-iteration-count: 2; }
  .a-cnt3-s    { animation-iteration-count: 4; }
  .a-cnt3-s    { animation-iteration-count: 5; }
  .a-cnt4-s    { animation-iteration-count: 10; }
  .a-cnt-inf-s { animation-iteration-count: infinite; }
}

@media screen and (min-width:48em) {
  .a-cnt0-m    { animation-iteration-count: 0; }
  .a-cnt1-m    { animation-iteration-count: 1; }
  .a-cnt2-m    { animation-iteration-count: 2; }
  .a-cnt3-m    { animation-iteration-count: 4; }
  .a-cnt3-m    { animation-iteration-count: 5; }
  .a-cnt4-m    { animation-iteration-count: 10; }
  .a-cnt-inf-m { animation-iteration-count: infinite; }
}

@media screen and (min-width: 96em) {
  .a-cnt0-l    { animation-iteration-count: 0; }
  .a-cnt1-l    { animation-iteration-count: 1; }
  .a-cnt2-l    { animation-iteration-count: 2; }
  .a-cnt3-l    { animation-iteration-count: 4; }
  .a-cnt3-l    { animation-iteration-count: 5; }
  .a-cnt4-l    { animation-iteration-count: 10; }
  .a-cnt-inf-l { animation-iteration-count: infinite; }
}

